<div class="container">
  <%= simple_form_for(@listing, html: {:class => 'form-horizontal'} ) do |f|%>
    <%= f.input :title, html: {:class => 'form-control'} %>
    <%= f.input :body, html: {:class => 'form-control'} %>
    <%= f.input :zip, html: {:class => 'form-control'} %>
    <p class="last">
      <h3>Photos</h3>
      <div class="images">
        <%= f.simple_fields_for :listing_pictures do |photo_form| %>
          <p class="hidden-upload" hidden>
            <%= photo_form.file_field :picture, :as => :hidden, :class => "img" %>
          </p>
        <% end %>
      </div>
      <div class="add-image">
        <p>+</p>
      </div>
    </p>
    <div class="form-actions">
      <%= f.button :submit, "Create new listing" %>
    </div>
  <% end %>
</div>

<script>
  var upload = document.querySelector(".add-image");
  upload.addEventListener("click", newImage);

  function newImage() {
    // debugger
    var hiddenUpload = document.querySelector('p.hidden-upload[hidden]');
    hiddenUpload.removeAttribute("hidden");
    hiddenUpload.focus();
  }

  var zip = document.querySelector('#new_listing > div.listing_zip.has-error > label')
  if (zip.nextSibling.nextSibling.tagName == 'SPAN') {
    zip.nextSibling.nextSibling.innerText = "can't be blank and must be a number"
  }
</script>