<!DOCTYPE html>
<html>
<head>
  <title>SpaceShare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/nav' %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>



</body>
<script type="text/javascript">
  notice = document.querySelector('p.notice')
  alert = document.querySelector("p.alert")

  if (notice.innerHTML == '') {
    notice.setAttribute("hidden", true)
  }

  if (alert.innerHTML == '') {
    alert.setAttribute("hidden", true)
  }
</script>
</html>
